extends layout/app
block page
   include blocks/header
   h1.title Index.html!!
   input#date(type='text' autocomplite='off')
   img(src='./img/image.jpg' alt='Photo')
   include blocks/footer
   script(src="./js/index.bundle.js")
